.product-container-item-small {
  display: block;
  border-style: solid;
  border-width: medium;
  border-color: lightgray;
  background-color: lightpink;
  padding: 10px;
}

.product-container-item-small:hover {
  background-color: pink;
  border-color: red;
}

.instock {
  display: inline-block;
  background-color: green;
  border-style: solid;
  border-width: medium;
  width: 10px;
  height: 10px;
  /*padding: 20px;*/
}

.lessthan10 {
  display: inline-block;
  background-color: yellow;
  border-style: solid;
  border-width: medium;
  width: 10px;
  height: 10px;
}

.outofstock {
  display: inline-block;
  background-color: red;
  border-style: solid;
  border-width: medium;
  width: 10px;
  height: 10px;
}

.info {
  color: rgb(85, 85, 85);
}

input[type=text] {
  background-color: white;
  background-image: url('../images/search-icon.png');
  background-size: 20px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 60%;
  font-size: 20px;
}

button {
  border-style: solid;
  border-width: medium;
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
}

.input-button {
  background-color: black;
  color: white;
  
}

.input-button:hover {
  background-color: white;
  color: black;
}

button.red {
  background-color: yellow;
  color: black;
}

button.red:hover {
  background-color: black;
  color: white;
}

